

.my-form{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    background-color: rgb(19, 245, 57);
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    text-align: justify;
    padding: 30px;
}


input[type="text"]{
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}

input[type="password"]{
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}


input[type="tel"]{
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}

input[type="email"]{
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}

input[type="date"]{
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}

select {
    margin-top: 30px;
    width: 40%;
    padding: 10px 15px;
    border: black solid;
    border-radius: 10px;
}